$main : hsl(238,37%,19%);
$secondary : hsl(250,25%,40%);
$accent : hsl(30,70%,70%);
$nuetral : hsl(255,22%,86%);
$opaqueMain : hsla(238,37%,19%,.6);
$opaqueSecondary : hsla(250,25%,40%, .7);
$black : hsl(3,1%,1%);
